# This is a basic workflow to help you get started with Actions

name:  Teste workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
   teste_job:
    name: Executando job de teste 
    runs-on:  ubuntu-latest #Definição do runner aqui, aqui pega a ultima versão do ubuntu, 
    steps:  #os steps são os passos parar execução do workflow, é dentro do steps que é aninhado os stesp para executar
    - name: Checkout code #Definição do nome da primeira step
      uses: actions/checkout@v2 #Uses é uma diretiva que faz parte da steps, Nesta linha está sendo feito com a action checkou o checkout para baixar os arquivos, neste caso é usado a versão 2 pode ser vista em @V2

    - name: Executando um comando simples #Começo da segunda step 
      run:  echo "Olá, mundo! Este é o nosso primeiro job no GitHub Action"
